* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: max-content;
}
#watsup {
  display: grid;

  img {
    width: 100px;
  }
}
#contactSection {
  #contactSection1 {
    background: linear-gradient(-160deg, rgba(21, 2, 65, 0.494), black),
      url(/Images/new6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #contactSection2 {
    i {
      font-size: 4rem;
      color: blue;
    }
  }
}
.darkmode-toggle {
  font-size: 22px;
  cursor: pointer;
  border: none;
}
